.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn{
    padding: 4px 7px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid #cbc7db;
    border-radius: 9px;
    cursor: pointer;
}
.my-2{
    margin: 15px 0;
}
.text-center{
    align-items: center;
}